#myChart {
    transform: scale(0.8);
    color: rgb(65, 105, 225);
}

body {
    transition: all;
    transition-duration: 0.5s;
}

.container {

    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100%;
    width: 250px;
}

h2 {
    text-align: center;
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: royalblue;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .input-wrapper input:focus {
    outline-color: royalblue;
  }